<ion-content class="ion-padding">
  <ion-grid>
    <!-- Logo and the title -->
    <ion-row class="ion-justify-content-center">
      <img src="assets/policeLogo.jpg" alt="logo" width="9%" height="9%" [routerLink]="'/home'" />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <ion-card-header>
          <ion-card-title>Title</ion-card-title>
        </ion-card-header>
      </ion-text>
    </ion-row>
    <!-- Title for page -->
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Person Report Form</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
    <!-- Form -->
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-item>
          <form [formGroup]="personForm" (submit)="submitForm()">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Code:</ion-label>

                  <ion-select interface="popover" formControlName="code">
                    <ion-select-option value="1">W - Witness</ion-select-option>
                    <ion-select-option value="2">V - Victim</ion-select-option>
                    <ion-select-option value="3">RP - Reporting Person</ion-select-option>
                    <ion-select-option value="4">IL - Investigative lead</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">First Name</ion-label>
                  <ion-input placeholder="First" formControlName="first"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Middle Name</ion-label>
                  <ion-input placeholder="Middle" formControlName="middle"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Last Name</ion-label>
                  <ion-input placeholder="Last" formControlName="last"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Address</ion-label>
                  <ion-input placeholder="Address" formControlName="address"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">City</ion-label>
                  <ion-input placeholder="City" formControlName="city"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>State:</ion-label>

                  <ion-select interface="popover" formControlName="state">
                    <ion-select-option value="1">AL</ion-select-option>
                    <ion-select-option value="2">AK</ion-select-option>
                    <ion-select-option value="3">AZ</ion-select-option>
                    <ion-select-option value="4">AR</ion-select-option>
                    <ion-select-option value="5">CA</ion-select-option>
                    <ion-select-option value="6">CO</ion-select-option>
                    <ion-select-option value="7">CT</ion-select-option>
                    <ion-select-option value="8">DE</ion-select-option>
                    <ion-select-option value="9">FL</ion-select-option>
                    <ion-select-option value="10">GA</ion-select-option>
                    <ion-select-option value="11">HI</ion-select-option>
                    <ion-select-option value="12">ID</ion-select-option>
                    <ion-select-option value="13">IL</ion-select-option>
                    <ion-select-option value="14">IN</ion-select-option>
                    <ion-select-option value="15">IA</ion-select-option>
                    <ion-select-option value="16">KS</ion-select-option>
                    <ion-select-option value="17">KY</ion-select-option>
                    <ion-select-option value="18">LA</ion-select-option>
                    <ion-select-option value="19">ME</ion-select-option>
                    <ion-select-option value="20">MD</ion-select-option>
                    <ion-select-option value="21">MA</ion-select-option>
                    <ion-select-option value="22">MI</ion-select-option>
                    <ion-select-option value="23">MN</ion-select-option>
                    <ion-select-option value="24">MS</ion-select-option>
                    <ion-select-option value="25">MO</ion-select-option>
                    <ion-select-option value="26">MT</ion-select-option>
                    <ion-select-option value="27">NE</ion-select-option>
                    <ion-select-option value="28">NV</ion-select-option>
                    <ion-select-option value="29">NH</ion-select-option>
                    <ion-select-option value="30">NJ</ion-select-option>
                    <ion-select-option value="31">NM</ion-select-option>
                    <ion-select-option value="32">NY</ion-select-option>
                    <ion-select-option value="33">NC</ion-select-option>
                    <ion-select-option value="34">ND</ion-select-option>
                    <ion-select-option value="35">OH</ion-select-option>
                    <ion-select-option value="36">OK</ion-select-option>
                    <ion-select-option value="37">OR</ion-select-option>
                    <ion-select-option value="38">PA</ion-select-option>
                    <ion-select-option value="39">RI</ion-select-option>
                    <ion-select-option value="40">SC</ion-select-option>
                    <ion-select-option value="41">SD</ion-select-option>
                    <ion-select-option value="42">TN</ion-select-option>
                    <ion-select-option value="43">TX</ion-select-option>
                    <ion-select-option value="44">UT</ion-select-option>
                    <ion-select-option value="45">VT</ion-select-option>
                    <ion-select-option value="46">VA</ion-select-option>
                    <ion-select-option value="47">WA</ion-select-option>
                    <ion-select-option value="48">WV</ion-select-option>
                    <ion-select-option value="49">WI</ion-select-option>
                    <ion-select-option value="50">WY</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Zip Code</ion-label>
                  <ion-input placeholder="Zip Code" formControlName="zip"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-label>DOB</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
              </ion-col>

              <ion-col>
                  <ion-item>
                    <ion-label position="stacked">SSN</ion-label>
                    <ion-input placeholder="SSN" formControlName="ssn"></ion-input>
                  </ion-item>
                </ion-col>
  
                <ion-col>
                  <ion-item>
                    <ion-label position="stacked">Drivers Lisence #</ion-label>
                    <ion-input placeholder="Lisence #" formControlName="lisence"></ion-input>
                  </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Height</ion-label>
                  <ion-input placeholder="Height" formControlName="height"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Weight</ion-label>
                  <ion-input placeholder="Weight" formControlName="weight"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Phone #</ion-label>
                  <ion-input placeholder="Phone" formControlName="phone"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label>Gender:</ion-label>

                  <ion-select interface="popover" formControlName="gender">
                    <ion-select-option value="1">M-Male</ion-select-option>
                    <ion-select-option value="2">F-Female</ion-select-option>
                    <ion-select-option value="3">U-Unkown</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label>Race:</ion-label>

                  <ion-select interface="popover" formControlName="race">
                    <ion-select-option value="1">W-White</ion-select-option>
                    <ion-select-option value="2">B-Black</ion-select-option>
                    <ion-select-option value="3">H-Hispanic</ion-select-option>
                    <ion-select-option value="4">I-Indian</ion-select-option>
                    <ion-select-option value="5">A-Asian</ion-select-option>
                    <ion-select-option value="6">U-Unknown</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label>Eye Color:</ion-label>

                  <ion-select interface="popover" formControlName="eye">
                    <ion-select-option value="1">BLU-Blue</ion-select-option>
                    <ion-select-option value="2">BLK-Black</ion-select-option>
                    <ion-select-option value="3">BRO-Brown</ion-select-option>
                    <ion-select-option value="4">GRN-Green</ion-select-option>
                    <ion-select-option value="5">HAZ-Hazel</ion-select-option>
                    <ion-select-option value="6">GRY-Gray</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-item>
                <ion-label position="stacked">
                  Scars/Marks/Tattoos *Freeform
                </ion-label>
                <ion-textarea placeholder="Enter any markings" formControlName="marks"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">
                  Hazard *Freeform
                </ion-label>
                <ion-textarea placeholder="Enter Any Hazard Notes Here" formControlName="hazard"></ion-textarea>
              </ion-item>
            </ion-row>

            <!-- templates -->

            <!-- Add extra incident -->


            <!-- add more forms -->


            <!-- Submit button -->
            <ion-row>
              <ion-button expand="block">Submit</ion-button>
            </ion-row>
          </form>
        </ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>