<ion-content class="ion-padding">
  <ion-grid>
    <!-- Logo and the title -->
    <ion-row class="ion-justify-content-center">
      <img
        src="assets/policeLogo.jpg"
        alt="logo"
        width="9%"
        height="9%"
        [routerLink]="'/home'"
      />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <ion-card-header>
          <ion-card-title>Title</ion-card-title>
        </ion-card-header>
      </ion-text>
    </ion-row>
    <!-- Title for page -->
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Vehicle Report Form</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-row>
    <!-- Form -->
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-item>
          <form [formGroup]="personForm" (submit)="submitForm()">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked"
                    >Code
                    <ion-select interface="popover">
                      <ion-select-option value="0">Code:</ion-select-option>
                      <ion-select-option value="1"
                        >RP - Reporting Person</ion-select-option
                      >
                      <ion-select-option value="2"
                        >W - Witness</ion-select-option
                      >
                      <ion-select-option value="3"
                        >V - Victim</ion-select-option
                      >
                      <ion-select-option value="4"
                        >IL - Investigative lead</ion-select-option
                      >
                      <ion-select-option value="5"
                        >S - Suspect</ion-select-option
                      >
                    </ion-select>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    First Name
                    <ion-input type="text" formControlName="firstN"></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    Middle Name
                    <ion-input
                      type="text"
                      formControlName="middleN"
                    ></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    Last Name
                    <ion-input type="text" formControlName="lastN"></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    Address
                    <ion-input
                      type="text"
                      formControlName="address"
                    ></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    City
                    <ion-input type="text" formControlName="city"></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label interface="popover">State</ion-label>
                  <ion-select formControlName="state">
                    <ion-select-option>Select State:</ion-select-option>
                    <ion-select-option value="1">AL</ion-select-option>
                    <ion-select-option value="2">AK</ion-select-option>
                    <ion-select-option value="3">AZ</ion-select-option>
                    <ion-select-option value="4">AR</ion-select-option>
                    <ion-select-option value="5">CA</ion-select-option>
                    <ion-select-option value="6">CO</ion-select-option>
                    <ion-select-option value="7">CT</ion-select-option>
                    <ion-select-option value="8">DE</ion-select-option>
                    <ion-select-option value="9">FL</ion-select-option>
                    <ion-select-option value="10">GA</ion-select-option>
                    <ion-select-option value="11">HI</ion-select-option>
                    <ion-select-option value="12">ID</ion-select-option>
                    <ion-select-option value="13">IL</ion-select-option>
                    <ion-select-option value="14">IN</ion-select-option>
                    <ion-select-option value="15">IA</ion-select-option>
                    <ion-select-option value="16">KS</ion-select-option>
                    <ion-select-option value="17">KY</ion-select-option>
                    <ion-select-option value="18">LA</ion-select-option>
                    <ion-select-option value="19">ME</ion-select-option>
                    <ion-select-option value="20">MD</ion-select-option>
                    <ion-select-option value="21">MA</ion-select-option>
                    <ion-select-option value="22">MI</ion-select-option>
                    <ion-select-option value="23">MN</ion-select-option>
                    <ion-select-option value="24">MS</ion-select-option>
                    <ion-select-option value="25">MO</ion-select-option>
                    <ion-select-option value="26">MT</ion-select-option>
                    <ion-select-option value="27">NE</ion-select-option>
                    <ion-select-option value="28">NV</ion-select-option>
                    <ion-select-option value="29">NH</ion-select-option>
                    <ion-select-option value="30">NJ</ion-select-option>
                    <ion-select-option value="31">NM</ion-select-option>
                    <ion-select-option value="32">NY</ion-select-option>
                    <ion-select-option value="33">NC</ion-select-option>
                    <ion-select-option value="34">ND</ion-select-option>
                    <ion-select-option value="35">OH</ion-select-option>
                    <ion-select-option value="36">OK</ion-select-option>
                    <ion-select-option value="37">OR</ion-select-option>
                    <ion-select-option value="38">PA</ion-select-option>
                    <ion-select-option value="39">RI</ion-select-option>
                    <ion-select-option value="40">SC</ion-select-option>
                    <ion-select-option value="41">SD</ion-select-option>
                    <ion-select-option value="42">TN</ion-select-option>
                    <ion-select-option value="43">TX</ion-select-option>
                    <ion-select-option value="44">UT</ion-select-option>
                    <ion-select-option value="45">VT</ion-select-option>
                    <ion-select-option value="46">VA</ion-select-option>
                    <ion-select-option value="47">WA</ion-select-option>
                    <ion-select-option value="48">WV</ion-select-option>
                    <ion-select-option value="49">WI</ion-select-option>
                    <ion-select-option value="50">WY</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">
                    Zip Code
                    <ion-input formControlName="zip" type="number"></ion-input>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">DOB</ion-label>
                  <ion-datetime
                    formControlName="dob"
                    displayFormat="MM/DD/YYYY"
                  ></ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">SSN</ion-label>
                  <ion-input type="number" formControlName="ssn"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Drivers Lisence #</ion-label>
                  <ion-input type="number" formControlName="dln"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Height</ion-label>
                  <ion-input
                    type="number"
                    placeholder="XXX"
                    formControlName="height"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Weight</ion-label>
                  <ion-input
                    type="number"
                    placeholder="XXX"
                    formControlName="weight"
                  ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Phone #</ion-label>
                  <ion-input
                    type="number"
                    placeholder="(XXX)-XXX-XXXX"
                    formControlName="phone"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label interface="popover">Sex</ion-label>

                  <ion-select formControlName="sex">
                    <ion-select-option>Sex:</ion-select-option>
                    <ion-select-option value="1">M - Male</ion-select-option>
                    <ion-select-option value="2">F - Female</ion-select-option>
                    <ion-select-option value="3">U - Unknown</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label interface="popover">Race</ion-label>

                  <ion-select formControlName="race">
                    <ion-select-option value="0">Race:</ion-select-option>
                    <ion-select-option value="1">W - White</ion-select-option>
                    <ion-select-option value="2">B - Black</ion-select-option>
                    <ion-select-option value="3"
                      >H - Hispanic</ion-select-option
                    >
                    <ion-select-option value="4"
                      >I - Indian (Native American)</ion-select-option
                    >
                    <ion-select-option value="5">A - Asian</ion-select-option>
                    <ion-select-option value="6">U - Unknown</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label interface="popover">Eye Color</ion-label>

                  <ion-select formControlName="eyeColor">
                    <ion-select-option value="0">Eye Color:</ion-select-option>
                    <ion-select-option value="1">BLK - Black</ion-select-option>
                    <ion-select-option value="2">BLU - Blue</ion-select-option>
                    <ion-select-option value="3">BRO - Brown</ion-select-option>
                    <ion-select-option value="4">GRN - Green</ion-select-option>
                    <ion-select-option value="5">HAZ - Hazel</ion-select-option>
                    <ion-select-option value="6">GRY - Gray</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Gang Affliation</ion-label>
                  <ion-checkbox formControlName="gang"></ion-checkbox>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Scars/Marks/Tattoos</ion-label>
                  <ion-textarea
                    rows="6"
                    cols="20"
                    placeholder="Enter any Scars/Marks/Tattoos here..."
                    formControlName="mst"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">Hazard</ion-label>
                  <ion-textarea
                    rows="6"
                    cols="20"
                    placeholder="Enter any Hazard notes here..."
                    formControlName="hazard"
                  ></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>

            <!-- add more forms -->
            <ion-row>
              <ion-row>
                <ion-col>
                  <ion-button
                    (click)="personBtn()"
                    expand="block"
                    fill="clear"
                    shape="round"
                    color="success"
                  >
                    <ion-item>
                      <ion-icon
                        name="person-add-outline"
                        slot="start"
                      ></ion-icon>
                      <ion-label>Create a Persons Report</ion-label>
                    </ion-item>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-row>

            <!-- Submit button -->
            <ion-row>
              <ion-button expand="block" type="submit">Submit</ion-button>
            </ion-row>
          </form>
        </ion-item>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
