<ion-grid>
  <ion-row>
    <img
      src="assets/policeLogo.jpg"
      alt="logo"
      width="12%"
      height="12%"
      [routerLink]="'/home'"
    />
    <ion-card>
      <ion-card-header>
        <ion-card-title>Title</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-item [routerLink]="'/incident-add'" class="ion-activated">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Create new Incident</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item [routerLink]="'/incident-append'" class="ion-activated">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Update Incident</ion-label>
      </ion-item>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </ion-row>
</ion-grid>
