<ion-header>
  <ion-toolbar>
    <ion-title>Person Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs with labels -->
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Address 1</ion-label>
    <ion-input></ion-input>

    <ion-label>Address 2</ion-label>
    <ion-input></ion-input>

    <ion-label>City</ion-label>
    <ion-input></ion-input>

    <ion-label>State</ion-label>
    <ion-input></ion-input>
 
    <ion-label>Zip Code</ion-label>
    <ion-input></ion-input>

  </ion-item>

  <ion-item>
    <ion-label position="floating">DOB</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>SSN</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Drivers Lisence #</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Height</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Phone #</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
      <ion-checkbox></ion-checkbox><br>
      <ion-label>Gang Affliation</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Scars/Marks/Tattoos</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
      <ion-checkbox></ion-checkbox><br>
      <ion-label>Hazard</ion-label>
  </ion-item>

  <ion-item>
    <ion-textarea rows="6" cols="20" placeholder="Enter any Hazard notes here..."></ion-textarea>
  </ion-item>

</ion-content>