<ion-header>
  <ion-toolbar>
    <ion-title>Vehicle Info</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="close()"
        fill="clear"
        shape="round"
        color="secondary"
      >
        <ion-label>Close</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="type.person; then person"></div>
  <div *ngIf="type.vehicle; then vehicle"></div>
  <div *ngIf="type.incident; then incident"></div>
</ion-content>

<!-- Person Template -->
<ng-template #person>
  <h1>Person Is Displaying!</h1>
  <div *ngIf="data">{{data.firstN}}</div>
</ng-template>

<!-- Vehicle Template -->
<ng-template #vehicle>
  <h1 *ngIf="!data">Record not found</h1>
  <h2 *ngIf="!data">Error: 07</h2>

  <ion-list *ngIf="data">
    <ion-item *ngIf="data.make">
      <ion-label>
        <h2>Make</h2>
        <p>{{data.make}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.model">
      <ion-label>
        <h2>Model</h2>
        <p>{{data.model}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.year">
      <ion-label>
        <h2>Year</h2>
        <p>{{data.year}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.color">
      <ion-label>
        <h2>Color</h2>
        <p>{{data.color}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.plate">
      <ion-label>
        <h2>Plate</h2>
        <p *ngIf="data.plateState">{{ data.plateState }}</p>
        <p>{{data.plate}}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="data.vin">
      <ion-label>
        <h2>VIN</h2>
        <p>{{data.vin}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>

<ng-template #incident>
  <h1>Incident Is Displaying!</h1>
  <div *ngIf="data">{{data.codeName}}</div>
</ng-template>
