<ion-content class="ion-padding">
  <ion-grid>
    <!-- Logo and the title -->
    <ion-row class="ion-justify-content-center">
      <img
        src="assets/policeLogo.jpg"
        alt="logo"
        width="9%"
        height="9%"
        [routerLink]="'/home'"
      />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <ion-card-header>
          <ion-card-title>Title</ion-card-title>
        </ion-card-header>
      </ion-text>
    </ion-row>

    <!-- That is going to be displayed -->
    <div *ngIf="user$; then auth; else login"></div>

    <!-- Templates -->
    <ng-template #login>
      <ion-row class="ion-justify-content-center">
        <ion-card>
          <ion-item href="" class="ion-activated">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Sign In</ion-label>
          </ion-item>
        </ion-card>
      </ion-row>
    </ng-template>

    <ng-template #auth>
      <ion-row class="ion-justify-content-center">
        <ion-card>
          <ion-row>
            <ion-item [routerLink]="'/incident-lookup'">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              <ion-label>Create an Incident Report</ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item [routerLink]="'/person-lookup'">
              <ion-icon name="person-add-outline" slot="start"></ion-icon>
              <ion-label>Create a Persons Report</ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item [routerLink]="'/vehicle-lookup'">
              <ion-icon name="car-sport-outline" slot="start"></ion-icon>
              <ion-label>Create a Vehicle Report</ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-searchbar showCancelButton="focus"></ion-searchbar>
          </ion-row>
        </ion-card>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>
