<ion-content class="ion-padding">
  <ion-grid>
    <!-- Logo and the title -->
    <ion-row class="ion-justify-content-center">
      <img
        src="assets/policeLogo.jpg"
        alt="logo"
        width="9%"
        height="9%"
        [routerLink]="'/home'"
      />
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text>
        <ion-card-header>
          <ion-card-title>Persons</ion-card-title>
        </ion-card-header>
      </ion-text>
    </ion-row>

    <!-- add or update buttons -->
    <ion-row class="ion-justify-content-center">
      <ion-card>
        <ion-row>
          <ion-card>
            <ion-item [routerLink]="'/person-add'" class="ion-activated">
              <ion-icon name="person-add-outline"></ion-icon>
              <ion-label>Create new Person</ion-label>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item [routerLink]="'/person-append'" class="ion-activated">
              <ion-icon name="people-outline"></ion-icon>
              <ion-label>Update Person</ion-label>
            </ion-item>
          </ion-card>
        </ion-row>

        <!-- Searchbar -->
        <ion-row class="ion-justify-content-center">
          <ion-searchbar showCancelButton="focus"></ion-searchbar>
        </ion-row>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
